<?xml version="1.0" ?>
<model xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
	<name>robobrain mouse with joystick</name>
	<version>1.0</version>
	<thumbnail>thumbnail.png</thumbnail>
	<sdf version="1.6">model.sdf</sdf>
	<author>
		<name>Benedikt Feldotto</name>
		<email>feldotto@in.tum.de</email>
	</author>
	<description>Musculoskeletal Mouse setup with 6 muscles on the left forelimb. The mouse is fixated on the platform with a lickometer in front and a joystick attached to the left foot. A force can be applied to the joystick in lateral direction. Lickometer adapted from https://github.com/sanworks/Bpod-CAD/blob/master/LICENSE GNU licensed.</description>
</model>
