<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
  <name>CDP1 Environmental model</name>
  <sdf version="1.0">cdp1_world.sdf</sdf>

  <description>
  The environmental model for the CDP1 experiment
  </description>

</model>
